body {
    font-family: monospace;
    background-color: #e0f7fa; 
    color: #333;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    color: #00796b; 
}

.animal-img {
    width: 100%;
    max-width: 750px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.5;
    max-width: 900px; 
    margin: 0 auto; 
    padding: 0 20px;
}

.go-back {
    display: inline-block; 
    margin-top: 200px; 
    padding: 10px 20px; 
    background-color: #00796b; 
    color: white; 
    text-decoration: none; 
    border-radius: 5px; 
    font-size: 1.2em; 
    transition: background-color 0.3s; 
}

.go-back:hover {
    background-color: #004d40; 
}
